@import url('./reset.css');
@import url('./variables.css');

body {
  background: var(--color-white);
}

.App {
  min-height: 100vh;
  max-height: 100vh;
  padding: 16px;
  padding-bottom: 8px;
  color: var(--color-text);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .App {
    padding: 12px;
    padding-bottom: 4px;
  }
}
